PROJECT_NAME=QAshboard
STACK_NAME=qashboard
DOMAIN=localhost

# Postgres
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_DB=app
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changethis

DOCKER_IMAGE_BACKEND=qashboard-backend
DOCKER_IMAGE_FRONTEND=qashboard-frontend
